@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply text-base;
}

/* Customize scrollbar for dark/light mode */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: theme('colors.neutral.400');
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.neutral.500');
}
html.dark *::-webkit-scrollbar-thumb {
  background-color: theme('colors.neutral.700');
}
html.dark *::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.neutral.600');
}